html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(10, 25, 47);
  color: white;
}

.navbar-nav > li {
  margin-left: 15px;
  margin-right: 15px;
}

.navbar {
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;
  background-color: rgb(10, 25, 47);
  z-index: 1024;
}

.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

.navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid rgb(100, 255, 218);
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: rgb(100, 255, 218);
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
  top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

#navtext {
  color: rgb(100, 255, 218);
  font-family: "Fira Mono", monospace;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 0;
}

.intro-text {
  color: rgb(100, 255, 218);
  font-family: "Fira Mono", monospace;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.name-heading {
  color: white;
  font-size: 4rem;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 0.5rem;
}

.tagline-heading {
  color: #a8b2d1; /* Lighter grey for secondary heading */
  font-size: 3rem;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 1rem;
}

.description-text {
  color: #8892b0; /* Even lighter grey for body text */
  font-size: 1.1rem;
  font-family: "Work Sans", sans-serif;
  max-width: 600px;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.resume-button {
  color: rgb(100, 255, 218) !important;
  border-color: rgb(100, 255, 218) !important;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-family: "Fira Mono", monospace;
  transition: all 0.3s ease;
}

.resume-button:hover {
  background-color: rgba(100, 255, 218, 0.1);
}

.container {
  padding-top: 6rem;
}

h2 section#main {
  color: rgb(100, 255, 218);
  font-family: "Fira Mono", monospace;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

h2 {
  color: white;
  font-size: 2.5rem;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 2rem;
}

#heading3 {
  color: #8892b0; /* Even lighter grey for body text */
  font-size: 1.1rem;
  font-family: "Work Sans", sans-serif;
}

#heading4 {
  color: white;
  font-family: "Work Sans", sans-serif;
}

#heading5 {
  color: white;
}

.about .img-thumbnail {
  box-shadow: 15px -15px 0 -3px var(--background), 15px -15px var(--green);
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.about .img-thumbnail:hover {
  transform: translate(-5px, -5px);
  box-shadow: 20px -20px 0 -3px var(--background), 20px -20px var(--green);
}

.about ul.list-inline li.badge {
  font-family: "Fira Mono", monospace;
  font-size: 0.9rem;
  padding: 0.5em 0.8em;
  margin: 0.3em;
  border-radius: 3px;
  background-color: rgba(100, 255, 218, 0.1);
  color: rgb(100, 255, 218);
}

:root {
  --primary: #22d2a0;
  --secondary: #192824;
  --background: #192824;
  --green: rgb(100, 255, 218);
  --yellow: #ffd913;
  --orange: #ff9c55;
  --red: #ff5555;
}

/* Contact Me Starts */

.list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-left: 0;
}

footer {
  background: rgb(10, 25, 47);
  bottom: 0;
  padding-left: 30pxb;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0px -4px 5px 0px rgba(2, 12, 27, 0.7);
  -moz-box-shadow: 0px -4px 5px 0px rgba(2, 12, 27, 0.7);
  box-shadow: 0px -4px 5px 0px rgba(2, 12, 27, 0.7);
}

/* Pre-loader Starts */

.loader {
  width: 100%;
  height: 100%;
  background-color: rgb(10, 25, 47);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url(./assets/load.gif) center center no-repeat;
}

/* Pre-loader Ends */
